.perfume-card {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > img {
        max-height: 250px;
        object-fit: contain;
    }

    .perfume-card-info-wrap {
        margin-top: 30px;
        @include desktop {
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }
    }
}