.modal {
    position: absolute;
    z-index: 12;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70vh;
    min-width: 50vh;
    padding: 30px 50px 50px 50px;
    background-color: $th-lighter;
    box-shadow: $card-shadow;
    transition: $transition-all-slow;

    .close {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    &#loginModal {
        h1 {
            margin-bottom: 40px;
        }
        .form-group {
            margin-bottom: 20px;
            // &:last-of-type {
            //     margin-bottom: 0;
            // }
        }
    }
    &.hidden {
        display: none;
    }
}