html {
    font-size: 8px;
    height: 100%;
    background-color:$th-dark;
}

* {
    font-family: $p-font;
    color: $th-light;
    font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $h-font;
    font-weight: 700;
    font-size: 2.2rem;
}

