//fonts

$h-font: 'Libre Baskerville', serif;
$p-font: 'Source Sans Pro', sans-serif;

//colors

$th-dark: #111a1d;
$th-lighter: lighten($th-dark, 7%);
$th-even-lighter: lighten($th-dark, 14%);
$th-light: #87B3B6;
$th-main: #154144;
$th-brick: #882100;
$th-aqua: #4E9F9E;
$th-carrot: #E46F2A;

//spacings
$section-padding: 80px;

//transitions 
$transition-all: all 0.2s ease-in;
$transition-all-slow: all 0.6s ease-in;

//shadows

$card-shadow: -3px 4px 26px 10px rgba(17,26,29,0.18);

//inputs:
$input-border: 1px solid $th-light;
$input-border-active: 1px solid $th-aqua;


@for $i from 1 through 8 {
    .gap-#{$i} {
      gap: $i * 0.25rem;
    }
  
    .gap-#{$i}-0 {
      gap: ($i * 0.25rem) 0;
    }
  }
  
  @for $i from 1 through 10 {
    .opacity-#{$i} {
      opacity: $i * 0.1;
    }
  }